*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  box-sizing: border-box;
}


:root{
  --azul-escuro: #1A5276;
  --azul-claro: #3498DB;
  --verde-claro: #16ae55;
  --verde-escuro: #16793f;
  --cinza-claro: #BDC3C7;
  --cinza-escuro: #505050;
  --branco: #FFFFFF;
  --vermelho-escuro: #B03A2E;
}

/*Web site Header*/
#website_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 3.75rem;
  width: 100vw;

  padding: 0rem 2rem;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;

  background-color: var(--azul-escuro);
}

#website_logo{
  display: block;
  height: 2rem;
  width: 2rem;
}

#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  height: 100%;

  position: relative;
}

.itemNavbar{
  color: var(--branco);
}
.itemNavbar:nth-child(3){
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .0rem;
}
.itemNavbar:nth-child(3) svg{
  width: 1.5rem;
  height: 1.5rem;
}
.itemNavbar:nth-child(3) p{
  margin: 0rem 0rem 1.5rem 0rem;

  border-radius: 1rem;
  
  height: 1rem;
  width: 1rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: .8rem;

  background-color: var(--vermelho-escuro);
}

#btnIconLoginDropDown{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  flex-direction: row;

  color: var(--branco);

  height: 1.5rem;
  width: 1.5rem;

  cursor: pointer;
}

#itemMenuLogin{
  display: none;
}

#dropDownMenuLogin{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#dropDownMenuLogin:hover #itemMenuLogin{
  position: absolute;
  top: 3.75rem;
  right: -2rem;
  
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  

  height: calc(100vh - 3.75rem);
  width: 12rem;

  background-color: var(--azul-escuro);
}

#itemMenuLogin a{
  color: var(--branco);
  display: block;
  width: 100%;
  height: auto;

  padding: 1rem 0rem;

  text-align: center;
}
#itemMenuLogin a:hover{
  background-color: var(--cinza-claro);
}




/* Sing Up*/
#container_register{
  height: calc(100vh - 3.75rem);
  width: 100vw;
  margin-top: 3.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  background-color: #e2e2e2;
}
#containerRegister_partitions{
  width: 90%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  border-radius: 0.625rem;

  box-shadow: 5px 5px 3px var(--cinza-escuro);
}

#left_container{
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 5px 0px 0px 5px;

  background-color: var(--azul-claro);
}
#left_container img{
  width: auto;
  height: 100%;
}

#right_container{
  height: 100%;
  width: 50%;

  border-radius: 0px 5px 5px 0px;

  background-color: #f1f1f1;
}
form{
  padding: 1rem;
}
#form_head{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
}
#form_head img{
  height: 3rem;
}
#form_body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#form_body > label{
  display: block;

  width: 20rem;

  text-align: start;
  font-size: .8rem;
  font-weight: bold;

  margin-top: 1rem;
}
.controller_input{
  height: 2rem;
  width: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.controller_input input{
  width: 20rem;
  height: 100%;

  padding: .25rem .5rem;

  z-index: 1;
}

#icon_view_password, 
#icon_view_confirm{
  height: 2rem;
  width: 2rem;
  background: url("./media/image/to_view.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  right: .2rem;
  top: 0;

  z-index: 2;
}
#icon_view_password.hide,
#icon_view_confirm.hide{
  background-image: url("./media/image/to_hide.png");
}
#alertMessage.error{
  width: 20rem;
  color: var(--vermelho-escuro); 
  font-size: .9rem;
  
  margin-top: .5rem;
}
#alertMessage.success{
  width: 20rem;
  color: var(--verde-claro);
  font-size: .9rem;

  margin-top: .5rem;
}
#btn_create{
  height: auto;
  width: 20rem;

  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;

  margin-top: .5rem;
}
#btn_create input{
  padding: .5rem 1.5rem;

  border: none;

  color: var(--branco);

  box-shadow: 3px 3px 3px var(--cinza-claro);

  background-color: var(--verde-claro);
}
#btn_create input:hover{
  background-color: var(--verde-escuro);
}
#btn_create input:active{
  box-shadow: none;
  transform: translateY(2px);
}
#form_body #links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  width: 20rem;
  height: auto;

  margin-top: .5rem;
}
#form_body #links a{
  color: var(--azul-escuro);
}